.userInfoMainContainer {
  height: 100vh;

  // background-color: rgb(106, 106, 106);
  background-color: #1d1d1d;
}
.userInput {
  margin-right: 10px;
  width: 200px;
  background-color: rgb(247, 247, 247);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 5px;
  padding: 8px 12px;
  border-width: initial;
  border-style: none;
  border-color: initial;
  border-image: initial;
  border-radius: 20px;
  transition: 0.3s ease-in-out;
}
.userInput:focus {
  outline: none;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  width: 250px;
}

.userInput:hover {
  background-color: #f0f0f0;
}
.userSubmitButton {
  background-color: #515151;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.userSubmitButton:hover {
  background-color: #0f6acb;
}




.userInfoCard {
  display: grid;
  grid-template-columns: 2fr 5fr;
  background-color: rgb(146, 146, 146);
  // border: 1px solid white;
  /* height: 100%; */
  margin: 10px 15px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.userPersonalInfoContainer {

  border: 1px solid rgb(255, 0, 0);
}

.userProfileLogoContainer {
  display: flex;
  justify-content: center;
}
.imageWrapper {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  border-radius: 50%;
  background-color: white;
  height: 250px;
  width: 250px;
  overflow: hidden;
  img {
    height: 100%;
    width: 100%;
  }
}
.userProfileBioContainer {
  .userNameContainer {
    border: 1px solid black;
    padding: 10px 0px;
    margin: 10px 0px;
    h2 {
      text-align: center;
    }
    p {
      text-align: center;
    }
  }
}
.followersFollowing {
  border: 1px solid white;
  padding: 20px 0px;
  display: flex;
  justify-content: space-around;
}
.userStatsInfoContainer {
  border: 1px solid rgb(0, 255, 132);
}

@media (max-width: 1100px) {
  .userInfoCard {
    grid-template-columns: 1fr;
    background-color: rgb(146, 146, 146);
    // border: 1px solid white;
    /* height: 100%; */
    margin: 10px 15px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
      rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
      rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  }
  .userPersonalInfoContainer {
    // border: 1px solid rgb(255, 0, 0);
    display: flex;
  }
}
