.userInfoMainContainer {
  background-color: rgba(0, 0, 0, 0);
  // background-color: rgb(106, 106, 106);
}
.LogoContainer {
  // border: 1px solid black;
  display: flex;
  gap: 10px;
}
.userInput {
  margin-right: 10px;
  width: 140px;
  cursor: text;
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 5px;
  padding: 8px 12px;
  border-width: initial;
  border-style: none;
  border-color: initial;
  border-image: initial;
  border-radius: 20px;
  transition: 0.3s ease-in-out;
}
.userInput:focus {
  outline: none;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  width: 160px;
}

.userInput:hover {
  background-color: #f0f0f0;
}
.userSubmitButton {
  background-color: rgb(97, 97, 97);
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.userSubmitButton:hover {
  background-color: var(--primary-color);
}

.userInfoCard {
  display: grid;
  grid-template-columns: 2fr 5fr;
  background-color: #4b4b4b;
  // border: 1px solid white;
  /* height: 100%; */
  margin: 10px 15px;
  padding: 10px;
  border-radius: 10px;
  // box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
  //   rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.userPersonalInfoContainer {
  // border: 1px solid rgb(255, 0, 0);
}

.userProfileLogoContainer {
  display: flex;
  justify-content: center;
}
.imageWrapper {
  z-index: 2;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  border-radius: 50%;
  background-color: white;
  height: 250px;
  width: 250px;
  overflow: hidden;
  transition-duration: 0.4s;
  &:hover {
    transform: scale(1.02) rotate(5deg);
  }
  img {
    height: 100%;
    width: 100%;
  }
}
.userProfileBioContainer {
  position: relative;
  z-index: 2;
  .userNameContainer {
    // padding: 10px 0px;
    margin: 10px 0px;
    .userName {
      margin: 10px 10px;
      border-radius: 8px;
      background-color: rgb(97, 97, 97);
      padding: 5px 10px;
      transition-duration: 0.4s;
      h2 {
        text-align: center;
        font-size: 28px;
        transition-duration: 0.4s;
      }
      p {
        text-align: center;
        transition-duration: 0.4s;
      }
    }
  }
  .bioContainer {
    margin: 10px 10px;
    border-radius: 8px;
    background-color: rgb(97, 97, 97);
    padding: 10px 10px;
    p {
    }
  }
  .userLinksContainer {
    margin: 10px 10px;
    border-radius: 8px;
    background-color: rgb(97, 97, 97);
    padding: 5px 5px;
    // border: 1px solid black;
    padding: 10px 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    div {
      display: flex;
      align-items: center;
      gap: 5px;
      // margin: 5px 0px;
      svg {
        color: var(--svg-color);
      }
    }
  }
}
.followersFollowing {
  // border: 1px solid white;
  // padding: 10px 0px;
  margin: 0px 5px;
  display: flex;

  div {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin: 0px 5px;
    // border: 1px solid black;
    padding: 10px 10px;
    border-radius: 8px;
    border: 1px solid rgb(97, 97, 97);
    background-color: rgb(97, 97, 97);
    &:hover {
      svg {
        transform: scale(var(--svg-scale));
      }
    }
    svg {
      color: var(--svg-color);
      transition-duration: 0.4s;
    }
    p {
      color: white;
      font-size: 12px;
    }
  }
  div:nth-child(1) {
    transition-duration: 0.4s;
  }
}
.userStatsInfoContainer {
  // border: 1px solid rgb(0, 255, 132);

  .repoContainer {
    // border: 1px solid pink;
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    .singleRepo {
      text-decoration: none;
      cursor: pointer;
      z-index: 2;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      min-width: 250px;
      gap: 8px;
      margin: 5px 5px;
      border-radius: 8px;
      background-color: rgb(97, 97, 97);
      padding: 10px 10px;
      transition-duration: 0.4s;

      &:hover {
        transform: translateY(-4px) ;
        box-shadow: rgba(0, 0, 17, 0.4) 4px 4px 6px, rgba(0, 0, 0, 0.3) 10px 20px 11px -7px, rgba(0, 0, 0, 0.2) -2px -3px 2px inset;
      }

      .singleRepoFirstRow {
        cursor: pointer;
        // outline: 1px solid rgb(61, 196, 38);
        display: flex;
        align-items: center;
        gap: 8px;
        svg {
          color: var(--svg-color2);
        }
        p {
          font-size: 14px;
          color: rgb(255, 255, 255);
        }
      }
      .singleRepoSecondRow {
        // outline: 1px solid red;
        p {
          color: rgb(187, 187, 187);
          display: -webkit-box;
          -webkit-line-clamp: 1;
          -webkit-box-orient: vertical;
          overflow: hidden;
          font-size: 12px;
        }
      }
      .singleRepoThirdRow {
        // outline: 1px solid blue;
        .singleRepoThirdRowLeft {
          display: flex;
          gap: 10px;
          .singleRepoThirdRowLng {
            display: flex;
            align-items: center;
            p {
              color: rgb(195, 195, 195);
              font-size: 12px;
            }
          }
          .singleRepoThirdRowStars {
            display: flex;
            align-items: center;
            gap: 2px;

            p {
              font-size: 12px;
            }
          }
          .singleRepoThirdRowForks {
            display: flex;
            align-items: center;
            gap: 2px;

            p {
              font-size: 12px;
            }
          }
        }
        .singleRepoThirdRowRight {
        }
      }
    }
  }

  .graphsContainer {
    border: 1px solid red;
  }
}

@media (max-width: 1100px) {
  .userInfoCard {
    grid-template-columns: 1fr;
  }
  .userPersonalInfoContainer {
    display: flex;
  }
}
@media (max-width: 768px) {
  .userPersonalInfoContainer {
    flex-direction: column;
  }
}
