.userInfoMainContainer {
  // background-color: rgb(106, 106, 106);
  background-color: #1d1d1d;
}
.LogoContainer {
  // border: 1px solid black;
  display: flex;
  gap: 10px;
}
.userInput {
  margin-right: 10px;
  width: 140px;
  cursor: text;
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 5px;
  padding: 8px 12px;
  border-width: initial;
  border-style: none;
  border-color: initial;
  border-image: initial;
  border-radius: 20px;
  transition: 0.3s ease-in-out;
}
.userInput:focus {
  outline: none;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  width: 160px;
}

.userInput:hover {
  background-color: #f0f0f0;
}
.userSubmitButton {
  background-color: rgb(97, 97, 97);
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.userSubmitButton:hover {
  background-color: var(--primary-color);
}

.userInfoCard {
  display: grid;
  grid-template-columns: 2fr 5fr;
  background-color: #4b4b4b;
  // border: 1px solid white;
  /* height: 100%; */
  margin: 10px 15px;
  padding: 10px;
  border-radius: 10px;
  // box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
  //   rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.userPersonalInfoContainer {
  // border: 1px solid rgb(255, 0, 0);
}

.userProfileLogoContainer {
  display: flex;
  justify-content: center;
}
.imageWrapper {
  z-index: 2;
  // box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
  //   rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  border-radius: 50%;
  background-color: white;
  height: 250px;
  width: 250px;
  overflow: hidden;
  transition-duration: 0.4s;
  &:hover {
    transform: scale(1.02) rotate(5deg);
  }
  img {
    height: 100%;
    width: 100%;
  }
}
.userProfileBioContainer {
  position: relative;
  z-index: 2;
  .userNameContainer {
    // padding: 10px 0px;
    margin: 10px 0px;
    .userName {
      margin: 10px 10px;
      border-radius: 8px;
      background-color: rgb(97, 97, 97);
      padding: 5px 10px;
      transition-duration: 0.4s;
      h2 {
        text-align: center;
        font-size: 28px;
        transition-duration: 0.4s;
      }
      p {
        text-align: center;
        transition-duration: 0.4s;
      }
    }
  }
  .bioContainer {
    margin: 10px 10px;
    border-radius: 8px;
    background-color: rgb(97, 97, 97);
    padding: 10px 10px;
    p {
    }
  }
  .userLinksContainer {
    margin: 10px 10px;
    border-radius: 8px;
    background-color: rgb(97, 97, 97);
    padding: 5px 5px;
    // border: 1px solid black;
    padding: 10px 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    div {
      display: flex;
      align-items: center;
      gap: 5px;
      // margin: 5px 0px;
      svg{
        color: var(--svg-color);
      }
    }
  }
}
.followersFollowing {
  // border: 1px solid white;
  // padding: 10px 0px;
  margin: 0px 5px;
  display: flex;

  div {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin: 0px 5px;
    // border: 1px solid black;
    padding: 10px 10px;
    border-radius: 8px;
    border: 1px solid rgb(97, 97, 97);
    background-color: rgb(97, 97, 97);
 
    svg{
      color: var(--svg-color);
    }
    p {
      color: white;
      font-size: 12px;
    }
  }
  div:nth-child(1){
    transition-duration: .4s;
    &:hover{
    
    }
  }
}
.userStatsInfoContainer {
  border: 1px solid rgb(0, 255, 132);
  display: grid;
  grid-template-columns: 1fr;

  .repoContainer {
    border: 1px solid pink;
  }
  .graphsContainer {
    border: 1px solid red;
  }
}

@media (max-width: 1100px) {
  .userInfoCard {
    grid-template-columns: 1fr;
    background-color: rgb(146, 146, 146);
    // border: 1px solid white;
    /* height: 100%; */
    margin: 10px 15px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
      rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
      rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  }
  .userPersonalInfoContainer {
    // border: 1px solid rgb(255, 0, 0);
    display: flex;
  }
}
