* {
  padding: 0px;
  margin: 0px;
  font-family: "Inter", sans-serif;


}

a {
  text-decoration: none;
  color: inherit;
}

:root {
  --primary-color: #1f6feb;
  --text-blue-color: #002c70;
  --svg-color: #141414;
  --svg-color2: #427cd6;
  --svg-color3:  rgb(195, 195, 195);
  --text-primary-color: #141414;
  --svg-scale: 1.16

}

#root {
  background-color: #2a2a2a;
  height: 110vh;
}